.m-header-main {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 8px 0 0 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 999;
  background-color: #f2ecdf;
}

.m-header-main .container {
  width: 1440px;
  max-width: 100%;
  padding: 23px 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.m-nav {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.m-nav__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.m-nav__list li.menu-item {
  margin-left: 15px;
}

.m-nav__list .menu-item a span {
  position: relative;
  display: inline-block;
  color: #6e6764;
  font-size: 1.125rem;
  font-weight: 650;
  transition: all 0.3s;
}

.m-nav__list .menu-item:hover a span {
  color: #C6994F;
}

#check__toggle:checked~.m-nav {
  display: flex;
}

.btn__toggle,
.btn__toggle_close {
  display: none;
}

#m-nav__list__all {
  display: none;
}

.gap-menu {
  width: 100%;
  height: 117px;
}

.m-logo img {
  width: 100%;
  height: auto;
}

.m-logo-mobile {
  display: none;
}

.m-logo-mobile img {
  height: 60px;
  width: 268px;
}

#wp-footer {
  background: #6E6764;
  padding: 0;
}

#wp-footer > .e-con-inner {
  padding: 50px 0 50px 150px;
}

#wp-footer .e-con-inner .elementor-element.footer-content {
  width: 70%;
}

.elementor-element.footer-content .wp-footer-title,
.elementor-element.footer-content .wp-footer-society,
.elementor-element.footer-content .wp-footer-copyright {
  padding: 0;
}

.elementor-element.footer-content .wp-footer-title .e-con-inner {
  padding-bottom: 50px;
}

.elementor-element.footer-content .wp-footer-society .e-con-inner {
  padding-bottom: 20px;
}

#wp-footer .e-con-inner .elementor-element.footer-image {
  width: 30%;
  align-self: center;
}

.heading-2 h2 {
  font-size: 2.8125rem;
  font-weight: 500;
}

.light-brown h2 {
  color: #F2ECDF !important;
}

.society .elementor-widget-container .elementor-social-icons-wrapper {
  text-align: left;
}

.society .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item {
  margin-right: 17px;
}

.society .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item .elementor-social-icon {
  background-color: transparent;
}

.society .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item .elementor-icon.elementor-social-icon {
  font-size: 2.5rem;
  width: unset;
  height: unset;
  transition: all 0.3s;
}

.society .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item .elementor-icon.elementor-social-icon:hover {
  opacity: 0.7;
}

.copyright .elementor-widget-container .elementor-heading-title {
  color: #F2ECDF !important;
  font-size: 1rem;
  font-weight: 400;
  max-width: 240px;
  display: inline-block;
  line-height: 1.125rem;
}

.copyright .elementor-widget-container .elementor-heading-title a:hover {
  text-decoration: underline;
  color: #e9d5ac;
}

@media (max-width: 1138px) {
  .heading-2 h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1024px) {
  .m-header-main {
      padding: 0;
  }

  .m-header-main .container {
      padding: 10px 30px;
      align-items: center;
  }

  .gap-menu {
      width: 100%;
      height: 75px;
  }

  #m-nav__list__desktop {
      display: none;
  }

  #m-nav__list__all {
      display: block;
      text-align: center;
  }

  .m-nav__list {
      display: block;
  }

  .btn__toggle {
      padding: 10px;
      color: #252422;
  }

  .btn__toggle i,
  .btn__toggle_close i {
      font-size: 27px;
      font-weight: 900;
  }

  .m-logo img {
      display: none;
  }

  .m-logo-mobile img {
      height: 50px;
      width: auto;
  }

  .m-logo-mobile {
      display: block;
      padding: 0 10px;
  }

  #m-logo-mobile-active {
      position: absolute;
      top: 10px;
      left: 30px
  }

  .m-nav__list-item {
      text-align: center;
      margin-top: 10px;
      margin-right: 0;
      margin-left: 0;
  }

  .m-nav {
      position: fixed;
      top: 0;
      background: #f2ecdf;
      width: 100%;
      height: 100%;
      left: 0;
      align-items: center;
      justify-content: center;
      display: none;
      z-index: 99999999;
  }

  .m-nav__list {
      display: block;
  }

  .m-nav__list li.menu-item {
      margin-left: 0;
      margin-top: 10px;
  }

  .m-nav__list .menu-item a span::before {
      font-size: 19px;
      top: 102%;
  }

  .btn__toggle,
  .btn__toggle_close {
      display: block;
  }

  .btn__toggle_close {
      color: #252422;
      position: absolute;
      top: 25px;
      right: 43px;
  }

  #m-nav__list__all li {
    animation: animation-fadeIn 0.3s linear;
    animation-fill-mode: both;
  }

  #m-nav__list__all li:nth-child(1) {
      animation-delay: 0.2s;
  }

  #m-nav__list__all li:nth-child(2) {
      animation-delay: 0.3s;
  }

  #m-nav__list__all li:nth-child(3) {
      animation-delay: 0.4s;
  }

  #m-nav__list__all li:nth-child(4) {
      animation-delay: 0.5s;
  }

  #m-nav__list__all li:nth-child(5) {
      animation-delay: 0.6s;
  }

  @keyframes animation-fadeIn {
      0% {
          opacity: 0;
          top: 100px;
      }

      75% {
          opacity: 0.5;
          top: 0px;
      }

      100% {
          opacity: 1;
      }
  }

  #wp-footer > .e-con-inner {
    padding: 20px 0 20px 40px;
  }

  .heading-2 h2 {
    font-size: 2rem;
  }

  .elementor-element.footer-content .wp-footer-title .e-con-inner {
    padding-bottom: 30px;
  }

  .elementor-element.footer-content .wp-footer-society .e-con-inner {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .m-header-main .container {
    padding: 14px 10px;
  }

  #m-logo-mobile-active {
    top: 14px;
    left: 10px;
  }

  .btn__toggle_close {
    top: 29px;
    right: 23px;
  }

  #wp-footer > .e-con-inner {
    justify-content: center;
    padding: 20px;
  }

  #wp-footer .e-con-inner .elementor-element.footer-content {
    order: 2;
    width: 100%;
  }

  #wp-footer .e-con-inner .elementor-element.footer-image {
    order: 1;
    width: 50%;
  }

  .elementor-element.footer-content .wp-footer-title .e-con-inner,
  .elementor-element.footer-content .wp-footer-society .e-con-inner,
  .elementor-element.footer-content .wp-footer-copyright .e-con-inner {
    align-items: center;
  }

  .elementor-element.footer-content .wp-footer-title .e-con-inner,
  .elementor-element.footer-content .wp-footer-society .e-con-inner {
    padding: 10px 0 20px;
  }

  .elementor-element.footer-content .wp-footer-copyright .e-con-inner {
    padding: 10px 0 0;
  }

  .heading-2 h2 {
    font-size: 1.5rem;
  }

  .copyright .elementor-widget-container .elementor-heading-title {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .heading-2 h2 {
    font-size: 1.2rem;
  }

  .society .elementor-widget-container .elementor-social-icons-wrapper .elementor-grid-item {
    margin-right: 10px;
  }

  .copyright .elementor-widget-container .elementor-heading-title {
    font-size: 0.9rem;
  }
}